{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}
{% include('partials/header.html.twig')%}
    <div class="container">
        <h1 class="my-5 text-center">Formulaire de contact</h1>
    </div>
{% endblock %}