.card{
    width: 20em;
    
}

#logo_small{    
    height: 12em;
}

.card>.orange{

    color: orange;
    font-weight: 500;
}
.card-moto{    
    padding: 10px;
}
.card-moto:hover{
    width: 20em;   
    box-sizing: border-box;
    border: 3px solid orange;   
    transition: border 0.5s;     
      
}

.text-muted,.text-white{
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
}
.price{
    font-weight: 600;
    font-size: 1.5rem;
    color: grey;
}
.price-show{
    font-weight: 600;
    font-size: 1.5rem;
    color: #fff;
}
li.desc{
    list-style-type: square;
}
.jumbotron{
    background-image: url("../images/ride.jpg")!important;
    color: #fff;
}
#showJumbo{
    background-size: cover;
}
a#Jumbo{
    -webkit-box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75)!important;
    -moz-box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75)!important;
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75)!important;
}
img.img-show{
    -webkit-box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75)!important;
    -moz-box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75)!important;
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75)!important;
}