{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}
{% block body %}
    <div class="container mt-5">
        <p>La moto a bien été ajoutée dans la base de données !</p>
    </div>
{% endblock %}